body {
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    background: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 10px;
    border: 0.2px black solid;
}
.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    width: 35vw;
    height: 35vh;
    border-radius: 9px;
}

h1 {
    font-size: 30px;
    margin-top: -40px;
    margin-bottom: 40px;
}
button {
    align-items: center;
    text-align: center;
    width: 4vw;
    height: 8vh;
    background-color: green;
  
    border-radius: 4px;

}



#telefone {
    width: 15vw;
    height: 7vh;
}


#container_exibir {
    display: none;
    margin-top: 20px;

}
#linktela {
    text-align: left;
    user-select: none;
    border-radius: 5px;
    border: 0.2px black solid;
    width: 23.4vw;
    height: 2vh;
}